{
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "jsxSingleQuote": false,
    "htmlWhitespaceSensitivity": "css",
    "trailingComma": "none",
    "printWidth": 80,
    "endOfLine": "crlf"
}
